#box {border: 3px solid; border-color: blue; justify-content: space-evenly; width: 1000px; padding: 5px;}

.item {width: 50px;
    height: 50px;
    background: blue;
margin: 15px; padding: 5px; }

    .purple {width: 50px;
        height: 50px;
        background:purple; margin: 15px; padding: 5px;}

        .white {margin: 10px;
        display: flex;
    flex-direction: row; 
    }

    .red {margin: 10px;
        display: flex;
    flex-direction: row;
background-color: red;
}

ul {
    list-style-type: none;
  }